<%- include('partials/header.ejs'); %>

<div class="container dataBlock">
    <h1>Here is your cart</h1>
    <table class="table">
        <tr>
            <td scope="col">Item</td>
            <td scope="col">Individual Price</td>
            <td scope="col">Quantity</td>
        </tr>
    <% if (cart) { cart.forEach(function(item) { %>
        <tr id="itemRow">
            <td><%= item.itemName%></td>
            <td><%= item.price%></td>
            <td><%= item.quantityDesired%></td>
            <td><a href="/removeFromCart?itemID=<%=item.itemID%>" class="btn btn-danger">Remove</a></td>
        </tr>
    <% }) }; %>
    </table><hr>
    <a href="/placeOrder" class="btn btn-primary">Place Order</a>
    <% if(err) { %>
        <p>ERROR: Must be logged in and have items in your cart!</p>
    <% }; %>
    
</div>


<%- include('partials/footer.ejs'); %>